
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-image: url('images/nentroi.jpg'); /* Đặt đường dẫn tới hình ảnh */
  background-size: cover; /* Đảm bảo hình ảnh phủ kín toàn bộ header */
  background-position: center center; /* Canh giữa hình ảnh */
  color: white; /* Màu chữ trắng để nổi bật trên nền tối */
  padding: 50px 20px; /* Thêm khoảng cách nội dung */
  text-align: center; /* Canh giữa nội dung trong header */
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  
  section {
    padding: 20px;
    margin: 10px;
    background-color: white;
  }
  
  footer {
    background-image: url('images/nentroi.jpg'); /* Đặt đường dẫn tới hình ảnh */
  background-size: cover; /* Đảm bảo hình ảnh phủ kín toàn bộ header */
  background-position: center center; /* Canh giữa hình ảnh */
  color: white; /* Màu chữ trắng để nổi bật trên nền tối */
  padding:  10px; /* Thêm khoảng cách nội dung */
  text-align: center; /* Canh giữa nội dung trong header */
  bottom: 0;
  width: 100%;
  }
  

  